@*
    For more information on enabling MVC for empty projects, visit https://go.microsoft.com/fwlink/?LinkID=397860
*@
@{
    ViewData["Title"] = "News Page";
    <script src="~/js/news.js" asp-append-version="true" defer></script>
}

<div class="container">
    <div style="display: flex; flex-direction: row">
        <div class="news-container" style="width: 70%">
            <div class="recent-news">
                <h3 style="color: #c9b18e">Latest news</h3><br/>
                @foreach (var element in Model)
                {
                    <div class="col-lg-3 col-lg-3" style="display: inline-block; width: 100%">
                        <div class="card" style="flex-direction: row; background-color: #3A373F">
                            <img class="product-image" src="@(element.Image)" style="max-height: 300px;max-width: 50%">
                            <div class="card-body inner-card" style="width: 50%">
                                <a href="@element.Link" style="text-decoration: none; color: #c9b18e"><h5 class="card-title">@element.Title</h5></a>
                                <p class="card-text">@element.Description</p>
                                <p class="card-text">@element.Date</p>
                            </div>
                        </div>
                        <br/>
                    </div>
                }
            </div>
        </div>
        <div class="other-news" style="width: 30%; padding: 0 0 0 2rem; float: right">
            <button class="btn-outline-light" type="button" style="background-color: #c9b18e; color: #303030; margin-bottom: 10px"><h5>Overwatch</h5></button><br/>
            <button class="btn-outline-light" type="button" style="background-color: #c9b18e; color: #303030; margin-bottom: 10px"><h5>World of Warcraft</h5></button><br/>
            <button class="btn-outline-light" type="button" style="background-color: #c9b18e; color: #303030; margin-bottom: 10px"><h5>Warframe</h5></button><br/>
            <button class="btn-outline-light" type="button" style="background-color: #c9b18e; color: #303030; margin-bottom: 10px"><h5>Fortnite</h5></button><br/>
            <button class="btn-outline-light" type="button" style="background-color: #c9b18e; color: #303030; margin-bottom: 10px"><h5>League of Legends</h5></button><br/>
            <button class="btn-outline-light" type="button" style="background-color: #c9b18e; color: #303030; margin-bottom: 10px"><h5>Minecraft</h5></button><br/>
            <button class="btn-outline-light" type="button" style="background-color: #c9b18e; color: #303030; margin-bottom: 10px"><h5>Borderlands</h5></button><br/>
            <button class="btn-outline-light" type="button" style="background-color: #c9b18e; color: #303030; margin-bottom: 10px"><h5>Skyrim</h5></button><br/>
            <button class="btn-outline-light" type="button" style="background-color: #c9b18e; color: #303030; margin-bottom: 10px"><h5>Resident Evil</h5></button><br/>
            <button class="btn-outline-light" type="button" style="background-color: #c9b18e; color: #303030; margin-bottom: 10px"><h5>Hollow Knight</h5></button><br/>
            <button class="btn-outline-light" type="button" style="background-color: #c9b18e; color: #303030; margin-bottom: 10px"><h5>Mega Man</h5></button><br/>
            <button class="btn-outline-light" type="button" style="background-color: #c9b18e; color: #303030; margin-bottom: 10px"><h5>Sonic the Hedgehog</h5></button><br/>
            <button class="btn-outline-light" type="button" style="background-color: #c9b18e; color: #303030; margin-bottom: 10px"><h5>Pokemon</h5></button><br/>
            <button class="btn-outline-light" type="button" style="background-color: #c9b18e; color: #303030; margin-bottom: 10px"><h5>Call of Duty</h5></button><br/>
            <button class="btn-outline-light" type="button" style="background-color: #c9b18e; color: #303030; margin-bottom: 10px"><h5>Grand Theft Auto</h5></button><br/>
            <button class="btn-outline-light" type="button" style="background-color: #c9b18e; color: #303030; margin-bottom: 10px"><h5>The Sims</h5></button><br/>
            <button class="btn-outline-light" type="button" style="background-color: #c9b18e; color: #303030; margin-bottom: 10px"><h5>Tetris</h5></button><br/>
            <button class="btn-outline-light" type="button" style="background-color: #c9b18e; color: #303030; margin-bottom: 10px"><h5>Assassin's Creed</h5></button><br/>
            <button class="btn-outline-light" type="button" style="background-color: #c9b18e; color: #303030; margin-bottom: 10px"><h5>Final Fantasy</h5></button><br/>
        </div>
    </div>
</div>