@*
    For more information on enabling MVC for empty projects, visit https://go.microsoft.com/fwlink/?LinkID=397860
*@
@{
    ViewData["Title"] = "News Page";
    <script src="~/js/news.js" asp-append-version="true" defer></script>
}

<div class="container">
    <div style="display: flex; flex-direction: row">
        <div class="news-container" style="width: 70%">
            <div class="recent-news">
                <h3>Latest news</h3>
                @foreach (var element in Model)
                {
                    <div class="col-lg-3 col-lg-3" style="display: inline-block; height: 350px; width: 100%">
                        <div class="card" style="flex-direction: row">
                            <img class="product-image" src="@(element.Image)" style="width: 50%">
                            <div class="card-body inner-card" style="width: 50%">
                                <a href="@element.Link" style="text-decoration: none"><h5 class="card-title">@element.Title</h5></a>
                                <p class="card-text">@element.Description</p>
                                <p class="card-text">@element.Date</p>
                            </div>
                        </div>
                        <br/>
                    </div>
                }
            </div>
        </div>
        <div class="other-news" style="width: 30%; padding: 0 0 0 2rem; float: right">
            <h5 data-name="resident_evil">Resident Evil</h5>
            <h5 data-name="hollow_knight">Hollow Knight</h5>
            <h5 data-name="mega_man">Mega Man</h5>
            <h5 data-name="sonic_the_hedgehog">Sonic the Hedgehog</h5>
            <h5 data-name="pokemon">Pokemon</h5>
            <h5 data-name="call_of_duty">Call of Duty</h5>
            <h5 data-name="grand_theft_auto">Grand Theft Auto</h5>
            <h5 data-name="the_sims">The Sims</h5>
            <h5 data-name="tetris">Tetris</h5>
            <h5 data-name="assassins_creed">Assassin's Creed</h5>
            <h5 data-name="final_fantasy">Final Fantasy</h5>
        </div>
    </div>
</div>