@*
    For more information on enabling MVC for empty projects, visit https://go.microsoft.com/fwlink/?LinkID=397860
*@
@{
    ViewData["Title"] = "News Page";
}

<div class="container">
    <div class="news-container" style="display: flex; flex-direction: row">
        <div class="recent-news" style="width: 70%">
            <h3>Latest news</h3>
            @foreach (var element in Model)
            {
                <div class="col-lg-3 col-lg-3" style="display: inline-block; height: 350px; width: 100%">
                    <div class="card" style="flex-direction: row">
                        <img class="product-image" src="@(element.Image)" style="width: 50%">
                        <div class="card-body inner-card" style="width: 50%">
                            <a href="@element.Link" style="text-decoration: none"><h5 class="card-title">@element.Title</h5></a>
                            <p class="card-text">@element.Description</p>
                            <p class="card-text">@element.Date</p>
                        </div>
                    </div>
                    <br/>
                </div>
            }
        </div>
        <div class="other-news" style="width: 30%; padding: 0 0 0 2rem">
            <h5 data-name="resident_evil">Resident Evil news</h5>
            <h5 data-name="hollow_knight">Hollow Knight news</h5>
            <h5 data-name="mega_man">Mega Man news</h5>
            <h5 data-name="sonic_the_hedgehog">Sonic the Hedgehog news</h5>
            <h5 data-name="pokemon">Pokemon news</h5>
            <h5 data-name="call_of_duty">Call of Duty news</h5>
            <h5 data-name="grand_theft_auto">Grand Theft Auto news</h5>
            <h5 data-name="the_sims">The Sims news</h5>
            <h5 data-name="tetris">Tetris new</h5>
            <h5 data-name="assassins_creed">Assassin's Creed news</h5>
            <h5 data-name="final_fantasy">Final Fantasy news</h5>
        </div>
    </div>
</div>